#top-container{
    height: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.weather-img{
    margin-left: 10px;
    width: 180px;
    height: 170px;
}

.subContainer{
    border: 3px solid white;
    border-radius: 30px;
    height: 210px;
    width: 500px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #5a788585;
    padding: 10px;
}

#mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 495px;
    width: 525px;
}

#outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar{
    display: none;
}

.minor-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.data{
    color: #194251;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.heading{
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}