.container{
    background-color: #15262da3;
    font-family: 'Times New Roman', Times, serif;
    height: 10%;
}

.brand-name{ 
    margin-left: 0% 3%;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#nav-links-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
    height: 100%;
}

.nav-item{
    list-style: none;
    height: 100%;
    width: fit-content;
    margin-right: 5%;
}

.nav-item :hover{
    cursor: pointer;
    color: #d1c7c7;
}

.nav-item.active{
    background-color: #021b294d;
}

.nav-link{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: large;
}



#signup-btn{
    background-color: #4a707f1f;
    border: 1px solid #b4c7cf;
    color: white;
    border-radius: 8px;
    height: 60%;
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
}

#signup-btn:hover{
    background-color: #3b5b671f;
    cursor: pointer;
    height: 70%;
}

@media screen and (max-width:420px){
    .container{
        height: 15%;
        background-color: #250e2acf;
    }

    .brand-name{
        height: 40%;
    }

    #nav-links-container{
        height: 20%;
    }

    #signup-btn{
        height: 25%;
    }

    #navbar{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .nav-item.active{
        background-color: #f5f5f500;
    }

    #signup-btn:hover{
        height: 20%;
    }
}
