.container{
    /* border-radius: 5px; */
    background-color: #15262da3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.brand-name{ 
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#nav-links-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
    height: 100%;
}

.nav-item{
    padding: 10px;
    list-style: none;
}

.nav-item :hover{
    cursor: pointer;
    color: #d1c7c7;
}

.nav-item.active{
    background-color: #021b294d;
}

.nav-link{
    text-decoration: none;
    color: white;
}

#search-bar{
    color: #adcbd7;
    background-color: #4a707f1f;
    border: 1px solid #b4c7cf;
    border-radius: 8px;
    height: 25px;
    width: 150px;
    padding: 5px 10px;
}

#signup-btn{
    background-color: #4a707f1f;
    border: 1px solid #b4c7cf;
    color: white;
    border-radius: 8px;
    height: 26px;
    width: 70px;
    margin-right: 10px;
}

#signup-btn:hover{
    cursor: pointer;
    height: 28px;
}