#register-container{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: #13222794;
    align-self: center;
    width: 60%;
    height: 80%;
    /* padding: 10px 230px 10px 230px; */
    border-radius: 5px;
}

#reg-success{
    display: none;
    font-size: 32px;
    color: white;
    align-self: center;
    margin-top: 50px;
    border: 2px solid white;
    background-color: #13222794;
    padding: 20% 20% 20% 20%;
    border-radius: 5px;
    width: auto;
    height: 20%;
    text-align: center;
}

#otp-expire{
    display: none;
    color: red;
    font-size: 12px;
}

#invalid-otp{
    display: none;
    color: red;
    font-size: 12px;
}

#user-existed-warning{
    display: none;
    color: red;
    font-size: 12px;
}

.sub-reg-container{
    height: 15%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    width: 80%;
}

.sub-reg-container input{
    height: 25%;
    width: 80%;
    padding: 1% 4%;
    color: white;
    background-color: #29314b6b;
    border-radius: 14px;
    align-self: center;
}

.sub-reg-container label{
    height: auto;
    width: auto;
}

.reg-btn{
    margin-top: 10px;
    height: 35px;
    width: 95px;
    border-radius: 12px;
    color: white;
    background-color: #192a2f94;
}

.reg-btn:hover{
    cursor: pointer;
    background-color: #13222794;
}